<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bmunar.warecomm" >

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <uses-library
            android:name="com.google.android.wearable"
            android:required="false" />

        <service
            android:name=".ListenerService"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="com.google.android.gms.wearable.BIND_LISTENER" />
            </intent-filter>
        </service>
        <service android:name=".VibrateService" />

        <activity
            android:name=".CheckIn"
            android:label="@string/title_activity_check_in" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CheckOut"
            android:label="@string/title_activity_check_out" >
        </activity>
        <activity
            android:name=".BroadcastCodes"
            android:label="@string/title_activity_broadcast_codes" >
        </activity>
        <activity
            android:name=".BroadcastPing"
            android:label="@string/title_activity_broadcast_ping" >
        </activity>
        <activity
            android:name=".BroadcastNotification"
            android:label="@string/title_activity_broadcast_notification" >
        </activity>
        <activity
            android:name=".DepartmentList"
            android:label="@string/title_activity_deparment_list" >
        </activity>
        <activity
            android:name=".DepartmentPing"
            android:label="@string/title_activity_department_ping" >
        </activity>
        <activity
            android:name=".requestNotification"
            android:label="@string/title_activity_request_notification" >
        </activity>
        <activity
            android:name=".ConfirmedNotification"
            android:label="@string/title_activity_confirmed_notification" >
        </activity>
        <activity
            android:name=".CreateMessage"
            android:label="@string/title_activity_create_message" >
        </activity>
        <activity
            android:name=".CreateReply"
            android:label="@string/title_activity_create_reply" >
        </activity>
        <activity
            android:name=".IndividualList"
            android:label="@string/title_activity_individual_list" >
        </activity>
        <activity
            android:name=".IndividualPing"
            android:label="@string/title_activity_individual_ping" >
        </activity>
        <activity
            android:name=".IndividualRequest"
            android:label="@string/title_activity_individual_request" >
        </activity>
        <activity
            android:name=".ReplyNotification"
            android:label="@string/title_activity_reply_notification" >
        </activity>
        <activity
            android:name=".ReplyPing"
            android:label="@string/title_activity_reply_ping" >
        </activity>

        <activity
            android:name=".TestActivity"
            android:label="@string/title_activity_reply_ping" >
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBvGyIwflGxFl2m31QMUpmIjnOMKBY_37E"/>
    </application>

</manifest>
